<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0">View Subject: {{subject.label}}</h1>
      </div>
    </div>
  </div>
</div>

  <!-- Main content -->
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <mat-accordion multi>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h6>Study Subject Record</h6>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="row">
                <div class="col-2">
                  Study Subject
                </div>
                <div class="col-2 value">
                  {{subject.label}}
                </div>
                <div class="col-2">
                  Person ID
                </div>
                <div class="col-2 value">
                  {{subject.personId}}
                </div>
                <div class="col-2">
                  Secondary ID
                </div>
                <div class="col-2 value">
                  {{subject.secondaryLabel}}
                </div>
                <div class="col-2">
                  Date Of Birth
                </div>
                <div class="col-2 value">
                  {{subject.dateOfBirth | date: 'dd-MMM-yyyy'}}
                </div>
                <div class="col-2">
                  OID
                </div>
                <div class="col-2 value">
                  {{subject.oid}}
                </div>
                <div class="col-2">
                  Sex
                </div>
                <div class="col-2 value">
                  {{subject.gender === 'm' ? 'Male' : 'Female'}}
                </div>
                <div class="col-2">
                  Status
                </div>
                <div class="col-2 value">
                  {{subject.status}}
                </div>
                <div class="col-2 ">
                  Enrollment Date
                </div>
                <div class="col-2 value">
                  {{subject.enrollmentDate | date: 'dd-MMM-yyyy'}}
                </div>
                <div class="col-2">
                  Study Name
                </div>
                <div class="col-2 value">
                  {{subject.siteId}}
                </div>
                <div class="col-2">
                  Site Name
                </div>
                <div class="col-2 value">
                  -
                </div>
              </div>
              <div class="row">
                <div class="col-2 offset-10">
                  <button mat-flat-button color="primary" class="button-full-width" (click)="editStudySubject()">Edit
                  </button>
                </div>
              </div>
            </mat-expansion-panel>
            <mat-expansion-panel expanded>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h6>Events</h6>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-form-field class="example-full-width">
                <mat-label>Filter</mat-label>
                <input matInput placeholder="Event">
              </mat-form-field>
              <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="index">
                      <th mat-header-cell *matHeaderCellDef style="width: 75px;"> No. </th>
                      <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
                    </ng-container>
                    <ng-container matColumnDef="event">
                      <th mat-header-cell *matHeaderCellDef> Event </th>
                      <td mat-cell *matCellDef="let element"> {{element.event}} </td>
                    </ng-container>
                    <ng-container matColumnDef="startDate">
                      <th mat-header-cell *matHeaderCellDef> Start Date </th>
                      <td mat-cell *matCellDef="let element"> {{element.startDate}} </td>
                    </ng-container>
                    <ng-container matColumnDef="location">
                      <th mat-header-cell *matHeaderCellDef> Localtion </th>
                      <td mat-cell *matCellDef="let element"> {{element.location}} </td>
                    </ng-container>
                    <ng-container matColumnDef="status">
                      <th mat-header-cell *matHeaderCellDef> Status </th>
                      <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                    </ng-container>
                    <ng-container matColumnDef="actions">
                      <th mat-header-cell *matHeaderCellDef style="width: 100px"> Actions </th>
                      <td mat-cell *matCellDef="let element; let i = index;"> 
                        <button mat-icon-button color="primary">
                          <mat-icon>visibility</mat-icon>
                        </button>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="crf">
                      <th mat-header-cell *matHeaderCellDef> CRFs (Name, Version, Status, Updated, Actions) </th>
                      <td mat-cell *matCellDef="let element"> {{element.studySubjectId}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    <tr class="mat-row" *matNoDataRow>
                      <td class="mat-cell" colspan="7" style="text-align: center;">No Data</td>
                    </tr>
                </table>
              </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h6>Group</h6>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSourceGroup">
                    <ng-container matColumnDef="index">
                      <th mat-header-cell *matHeaderCellDef style="width: 75px;"> No. </th>
                      <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
                    </ng-container>
                    <ng-container matColumnDef="groupClass">
                      <th mat-header-cell *matHeaderCellDef> Subject Group Class </th>
                      <td mat-cell *matCellDef="let element"> {{element.groupClass}} </td>
                    </ng-container>
                    <ng-container matColumnDef="studyGroup">
                      <th mat-header-cell *matHeaderCellDef> Study Group </th>
                      <td mat-cell *matCellDef="let element"> {{element.studyGroup}} </td>
                    </ng-container>
                    <ng-container matColumnDef="notes">
                      <th mat-header-cell *matHeaderCellDef> Notes </th>
                      <td mat-cell *matCellDef="let element"> {{element.notes}} </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsGroup"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsGroup;"></tr>
                    <tr class="mat-row" *matNoDataRow>
                      <td class="mat-cell" colspan="4" style="text-align: center;">No Data</td>
                    </tr>
                </table>
              </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h6>Global Subject Record</h6>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="row">
                <div class="col-2">Person ID</div>
                <div class="col-2 value">{{globalSubject.personId}}</div>
                <div class="col-2">Date Record Created</div>
                <div class="col-2 value">{{globalSubject.dateCreated | date:'dd-MMM-yyyy'}}</div>
                <div class="col-2">Created By</div>
                <div class="col-2 value">{{globalSubject.firstName + ' ' + globalSubject.lastName}}</div>
                <div class="col-2">Date Record Last Update</div>
                <div class="col-2 value">{{globalSubject.dateUpdated | date:'dd-MMM-yyyy'}}</div>
                <div class="col-2">Update By</div>
                <div class="col-2 value">-</div>
                <div class="col-2">Status</div>
                <div class="col-2 value">{{globalSubject.status}}</div>
                <div class="col-2">Date of birth</div>
                <div class="col-2 value">{{globalSubject.dateOfBirth | date: 'dd-MMM-yyyy'}}</div>
                <div class="col-2">Sex</div>
                <div class="col-2 value">{{globalSubject.gender === 'm' ? 'Male' : 'Female'}}</div>
              </div>
              <div class="row">
                <div class="col-2 offset-10">
                  <button mat-flat-button color="primary" class="button-full-width" (click)="addNewSubject()">Edit
                  </button>
                </div>
              </div>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <h6>Subject Casebook</h6>
                </mat-panel-title>
              </mat-expansion-panel-header>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
    </div>
  </div>