table {
  width: 100%;
}
.value {
  font-weight: bolder;
}
.example-full-width {
  width: 100%;
}
h6 {
  margin: 0;
}
.col-2 {
  margin-bottom: 10px;
}
.button-subject {
  display: flex;
  justify-content: flex-end;
}
.button-full-width {
  width: 100%;
}

.mat-progress-long {
  position: relative;
  top: -25px;
  width: 800px;
  left: -25px;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: rgb(194, 194, 194, 0.5);
  z-index: 2;
}