<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Subject Matrix</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <mat-card>
            <div style="margin: 10px 0;">
              <button mat-raised-button (click)="addNewSubject()"> Add new subject </button>
            </div>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="index">
                  <th mat-header-cell *matHeaderCellDef style="width: 75px;"> No. </th>
                  <td mat-cell *matCellDef="let element; let i = index;"> {{i+1}} </td>
                </ng-container>
                <ng-container matColumnDef="studySubjectId">
                  <th mat-header-cell *matHeaderCellDef> Study Subject ID </th>
                  <td mat-cell *matCellDef="let element"> {{element.studySubjectId}} </td>
                </ng-container>
                <ng-container matColumnDef="subjectStatus">
                  <th mat-header-cell *matHeaderCellDef> Subject Status </th>
                  <td mat-cell *matCellDef="let element"> {{element.subjectStatus}} </td>
                </ng-container>
                <ng-container matColumnDef="siteId">
                  <th mat-header-cell *matHeaderCellDef> Site ID </th>
                  <td mat-cell *matCellDef="let element"> {{element.siteId}} </td>
                </ng-container>
                <ng-container matColumnDef="oid">
                  <th mat-header-cell *matHeaderCellDef> OID </th>
                  <td mat-cell *matCellDef="let element"> {{element.oid}} </td>
                </ng-container>
                <ng-container matColumnDef="sex">
                  <th mat-header-cell *matHeaderCellDef> Sex </th>
                  <td mat-cell *matCellDef="let element"> {{element.sex}} </td>
                </ng-container>
                <ng-container matColumnDef="secondaryId">
                  <th mat-header-cell *matHeaderCellDef> Secondary ID </th>
                  <td mat-cell *matCellDef="let element"> {{element.secondaryId}} </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef> Actions </th>
                  <td mat-cell *matCellDef="let element"> 
                    <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                      <mat-icon>visibility</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" aria-label="Example icon button with a home icon">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [length]="length"
                          [pageSize]="pageSize"
                          [pageSizeOptions]="pageSizeOptions">
            </mat-paginator>
          </mat-card>
        </div>
      </div>
    </div>
  </div>