.example-full-width {
  width: 100%;
}
.login-wrapper {
  height: 100vh;
  background: #f4f6f9;
}
.image-logo {
  width: 300px;
}
.mat-card {
  width: 400px;
}
.mat-progress-bar {
  position: absolute;
  right: 0px;
  top: 0px;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}