/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif !important; }
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  visibility: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(182, 182, 182); 
  border-radius: 10px;
}
label {
  font-weight: 400 !important;
}
button:focus {
  outline: none !important;;
}

.error-snackbar {
  background: #ff3d3d;
  color: white;
}
.success-snackbar {
  background: #24d900;
  color: white;
}
.layout-navbar-fixed .wrapper .main-header {
  z-index: 0 !important;
}
.main-sidebar {
  z-index: 1 !important;
}
.main-footer {
  z-index: 0 !important;
}